#######################################
# AL (Dynamics 365 Business Central)
#######################################

# VS Code settings
.vscode/

# AL cache and build artifacts
.alcache/
.alpackages/
.snapshots/
.output/

# Extension output
*.app

# RAD file
rad.json

# Translation files
*.g.xlf

# License file
*.flf

# Test results
TestResults.xml


#######################################
# Node.js (IMPORTANT if backend project)
#######################################

# Environment variables (VERY IMPORTANT)
.env

# Dependencies
node_modules/


#######################################
# System / misc
#######################################

# OS files
.DS_Store
Thumbs.db